
body {
  background: #0c1940; /* Old browsers */
  background: -webkit-radial-gradient(center, ellipse cover, #0c1940 0%,#08011b 100%);
  background: radial-gradient(ellipse at center, #0c1940 0%,#08011b 100%);
  position: relative;
}

.main {
  margin: 10rem auto;
  max-width: 800px;
  position: relative;
  top: calc(50vh - 200px);
}

.player {
  background: url(dolphin3.svg);
  background-size: 14rem;
  background-repeat: no-repeat;
  height: 7rem;
  left: calc(50% - 2rem);
  position: absolute;
  top: calc(50% - 3.5rem);
  transform: rotate(0deg);
  width: 4rem;
}

.bubble {
  background: #155ba9;
  border: 2px solid #89a4c3;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  height: 1rem;
  position: absolute;
  opacity: 0.2;
  width: 1rem;
}

.bubble:nth-child(1) {
  left: 40%;
  top: 25%;
}

.bubble:nth-child(2) {
  left: 65%;
  top: 35%;
}

.bubble:nth-child(3) {
  left: 50%;
  top: 80%;
}
