
body {
  background: #0c1940; /* Old browsers */
  background: -webkit-radial-gradient(center, ellipse cover, #0c1940 0%,#08011b 100%);
  background: radial-gradient(ellipse at center,rgba(12, 25, 64, 1) 0,rgba(8, 1, 27, 1) 100%);
  color: #6df1ff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
}

.ouch {
  background: rgba(255,0,0,0.95) radial-gradient(ellipse at center,rgba(12, 25, 64, 0.85) 0,rgba(8, 1, 27, 0.85) 100%);
}

a {
  color: white;
}

a:visited: {
  color: white;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

li + li {
  margin-top: 0.4rem;
}

.modal {
  max-width: 25rem;
  position: absolute;
  left: 2rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  top: 1rem;
}

.modal-close {
  font-size: 1.75rem;
  right: 0;
  position: absolute;
  text-decoration: none;
  top: 0;
}

.hide {
  display: none;
}

.main {
  height: 50rem;
  margin: 5rem auto;
  max-width: 50rem;
  position: relative;
}

.player {
  background: url(dolphin3.svg);
  background-size: 14rem;
  background-repeat: no-repeat;
  height: 7rem;
  left: calc(50% - 2rem);
  position: absolute;
  top: calc(50% - 3.5rem);
  transform: rotate(180deg);
  width: 4rem;
}

.bubble {
  background: #155ba9;
  border: 2px solid #89a4c3;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  height: 1rem;
  left: 0;
  position: absolute;
  opacity: 0.2;
  top: 0;
  width: 1rem;
}

#health {
  left: 2rem;
  top: 0;
  position: absolute;
}

.healthDot {
  background: #42b500;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
